<div class="user_panel">
    {% if user.is_admin == '1' %}
        <div>
            <a href="?path=goods">Товары</a>
            <a href="?path=order">Стол заказов</a>
        </div>
        <div>
            Вы вошли, как <span>{{ user.login }}</span>
            <a href="?path=auth/logout">Выход</a>
        </div>
    {% endif %}
    {% if user.is_admin == '0' and user.login %}
        <div>
            Вы вошли, как <span>{{ user.login }}</span>
            <a href="?path=personal_area">Личный кабинет</a>
        </div>
        {% if page != 'cart' %}
            <div>
                <a href='?path=cart' title='Смотреть корзину'>В корзине</a>: {{ goods_in_cart | length }} товаров
            </div>
        {% endif %}
    {% endif %}
    {% if user.is_admin == '0' and not user.login %}
        <span>Для покупок необходима <a href="?path=auth">авторизация</a></span>
    {% endif %}
</div>
